.gallery {
  max-width: 1200px;
  padding: 80px 36px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px 24px;
  flex-wrap: wrap;
}

.gallery-link {
  text-decoration: none;

  &:hover {
    cursor: url(../img/hand-down.png), pointer;
  }
}

.gallery-item {
  width: 360px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    transform: scale(1.03);
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
